*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Literata", serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: #7c0004;
    margin-right: 30px;
}

.navlist{
    display: flex;
    text-transform: uppercase;
}

.navlist a, #scroll-up-link a{
    color: #7c0004;
    margin-left: 60px;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover {
    color:#cb1711;
    border-bottom: 2px solid #cb1711;
}


.logo i:hover {
    color: #cb1711; 
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;

}

.jewelery {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(109.1deg, rgb(181, 73, 91) 7.1%, rgb(195, 113, 136) 86.4%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 8rem;
}

section {
    padding: 0 19%;
}

.jewelery-text h1 {
    font-family: "Playfair Display", serif;
    font-size: 70px;
    line-height: 1;
    color: #7c0004;
    margin: 0 0 20px;

}

.jewelery-text p {
    color: #7c0004;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.jewelery-text a {
    display: inline-block;
    color:  #fdf2f9;
    background: #7c0004;
    border: 1px solid transparent;
    padding: 12px 30px;
    margin-left: 20px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.jewelery-text a:hover {
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.jewelery-text a.popular {
    background: transparent;
    border: 1px solid white;
}

.jewelery-text a.popular:hover {
    background: #7c0004;
    border: 1px solid #6b1619;
    transform: translateX(8px);
}

.jewelery-text a i {
    vertical-align: middle;
    margin-right: 5px;
}


.jewelery-logo img {
    width: 500px;
    height: auto;
}

.icons {
    position: absolute;
    top: 50%;
    padding: 0 7%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin-bottom: 30px;
    font-size: 24px;
    color: #7c0004;
    transition: all .50s ease;
}

.icons i:hover {
    color: #cb1711;    ;
    transform: translateY(-5px);
}

.scroll-up {
    position: absolute;
    bottom: 6%;
    right: 9%;
}

.scroll-up i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: #fdf2f9;
    background:#ea8699;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-up i:hover {
    transform: translateY(-5px);
}

.hide {
    display: none;
}

#scroll-up-link {
    position: absolute;
    width: 120px;
    height: 30px;
    top: 625px;
    right: 100px;
    text-align: center;
    border-radius: 10px;
    background: pink;
    padding-bottom: 50px;
    transition: all .55s ease;
}

#scroll-up-link a {
    margin-left: 0;
    display: block;
    margin: 7px 0;
}


@media screen and (max-width: 1460px) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
}
@media screen and (max-width: 1330px) {
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }

    .jewelery-logo {
        width: 400px;
    }

    .jewelery-text h1 {
        font-size: 60px;
    }

    .jewelery-text a {
        padding: 12px 20px;
        font-size:12px;

    }

    .all{
        margin-bottom: 20px;
    }


}



@media screen and (max-width: 1340px) {
    .jewelery-logo img {
        width: 100%;
        height: auto;
    }
    .jewelery-text h1 {
        font-size: 40px;
        margin: 0 0 30px;
    }
}

@media screen and (max-width:950px) {
    body {
       width:100%; 
    }
}

/*@media screen and (max-width: 1195px) {
    section {
        padding: 0 3%;
        transition: .2s;
    }
    .jewelery-text {
        padding-top: 115px;
    }
    .jewelery-logo img {
        width: 200px;
        height: auto;
    }
    .jewelery {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons .scroll-down {
        display: none;
    }
}

/*@media screen and (max-width: 700px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100;
        width: 300px;
        height: 40vh;
        background: #ea8699;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }

    .navlist a {
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }

    .navlist.open {
        right: 0;
    }
}
*/

